:root {
  --primary-color: #9359c5;
  --secondary-color: #ffffff;
  --accent-color: #007bff;
  --text-color: #ffffff;
  --font-family: 'Roboto', sans-serif;
  --Orange: #FFA500;
}

body {
  background-color: var(--light-background);
  font-family: var(--font-family);
}

.app{
  text-align: center;
}

.card-container {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px !important; 
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px 5px;
  transition: transform 0.3s ease;
}

.card-button button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.card-title {
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--text-color) !important;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif; 
}

.card-subtitle {
  font-size: 1.5rem !important;
  color: var(--text-color) !important;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-family: 'Arial', sans-serif; 
}

.card-text {
  margin-top: 1.5rem !important;
  color: var(--text-color);
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-family: 'Arial', sans-serif; 
}