/* Styling for tag */
.tag {
  font-size: var(--font-size-small) !important;
  margin-bottom: 0.5rem;
  color: var(--button); /* Adjust text color as per your theme */
  background-color: var(--tag-color); /* Adjust background color slightly darker than page */
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px; /* Give a smooth box appearance */
  width: 100%; /* Ensures the skill takes up the full width */
  list-style: none;
  margin-top: 0.5rem;
}

/* Moves the Skills card closer to the business card */
.skills-container {
  margin-top: -23% !important; /* Reduce margin to move the skills card even closer */
}

/* Ensures the list items are properly styled */
.Skills-list ul {
  padding-left: 0;
}

.Skills-list li {
  width: 100%; /* Full-width for each skill, one per row */
  margin-bottom: 0.5rem;
}
