.discord-widget-card {
    width: 100%;
    max-width: 1020px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.server-join{
    background-color: var( --accent-color) !important;
    color: var(--secondary-color) !important;
}

@media screen and (max-width: 1020px) {
    .discord-widget-card {
        max-width: 100%;
        padding: 10px;
    }
}

.server-join {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}