.discord-widget-card {
    width: 100%;
    max-width: 1020px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.discord-widget{
    border-radius: 10px !important;
}