.app-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--Resume-background);
    color: var(--Resume-text);
    text-align: center;
    z-index: 100;
    overflow: hidden;
  }