:root {
  --font-size-small: 1.2rem !important;
  --font-size-medium: 1.8rem !important;
  --font-size-large: 2rem !important;
  --font-size-xlarge: 2.5rem !important;
  --margin-small: 10px !important;
  --margin-large: 80px !important;
  --border-width: 2px !important;
  --border-width-small: 1px !important;
}

.resume {
  font-family: 'Roboto', sans-serif;
  color: var(--Resume-text);
  background-color: var(--Resume-background);
  height: 100%;
  width: 100%;
}

.resume-name, .headings-resume {
  font-size: var(--font-size-xlarge);
  margin: 0 var(--margin-small) var(--margin-small) 0;
  color: var(--Resume-name);
}

.resume-button {
  background-color: var(--Resume-button);
  color: var(--Resume-button-text);
  margin-top: var(--margin-large);
}

.address, .col-md-4 ul li, .col-md-8 ul li, .skills-grid li, .job-responsibility {
  font-size: var(--font-size-small);
  margin-right: var(--margin-small);
}

.profile-section p {
  font-size: var(--font-size-medium);
  margin-right: var(--margin-small);
}

.headings-resume, .experience {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--Resume-headings); 
}

.col-md-4.vline.tline {
  border-left: var(--border-width) solid var(--Resume-line);
  padding-left: var(--margin-small);
}

.col-md-8.tline, .col-md-12 {
  border-top: var(--border-width) solid var(--Resume-line);
  padding-top: var(--margin-small);
}

.col-md-4 ul, .programming-list {
  padding-left: 0;
  list-style: none;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.align-right {
  text-align: right;
}

.vline {
  border-right: var(--border-width-small) solid var(--Resume-line); 
}

.tline {
  border-top: var(--border-width-small) solid var(--Resume-line);
}

.job-responsibility {
  display: grid;
  grid-gap: 6px;
}

.list-icon {
  margin-right: 5px;
}



@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --margin-small: 5px;
    --margin-large: 40px;
  }

  .resume-name, .headings-resume {
    font-size: var(--font-size-large);
  }

  .resume-button {
    margin-top: var(--margin-small);
  }

  .address, .col-md-4 ul li, .col-md-8 ul li, .skills-grid li, .job-responsibility {
    font-size: var(--font-size-small);
  }

  .profile-section p {
    font-size: var(--font-size-small);
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .spinner {
    margin: 50px auto;
  }
}