.resume {
  font-family: 'Roboto', sans-serif;
  color: var(--Resume-text);
  background-color: var(--Resume-background);
  height: 100%;
  width: 100%;
}

.resume-name {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--Resume-name);
  margin-right:10px;
}
.resume-button{
  background-color: var(--Resume-button) !important;
  color: var(--Resume-button-text) !important;
  margin-top: 80px;
}

.address {
  font-size: 1.2rem;
  margin-right:10px !important;
}

.profile-section p {
  font-size: 1.5rem;
  margin-right:10px;
}

.headings-resume {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--Resume-headings); 
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

.col-md-4.vline.tline {
  border-left: 2px solid var(--Resume-line);
  padding-left: 10px;
}

.col-md-8.tline {
  border-top: 2px solid var(--Resume-line);
  padding-top: 10px;
}

.col-md-12{
  padding-top: 10px
}

.col-md-4 ul {
  padding-left: 0;
  list-style: none;
}

.col-md-4 ul li {
  margin-bottom: 10px; 
  font-size: 1.2rem; 
}
.col-md-8 ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.skills-grid li {
  font-size: 1.2rem;
}

.align-right {
  text-align: right;
}

.vline {
  border-right: 1px solid var(--Resume-line); 
}

.tline {
  border-top: 1px solid var(--Resume-line);

}
.programming-list {
  list-style-type: none;
  padding-left: 0;
}
.job-responsibility {
  font-size: 1.2rem;
  display: grid;
  grid-gap: 6px;
}
.experience{
  text-decoration: underline !important;
  text-underline-offset: 4px;
}
.list-icon {
  margin-right: 5px;
}
