.theme-switch {
    position: fixed;
    top: 0.3rem;
    left: 1rem;
    border: none;
    background-color: #f4f4f400;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }


  @media (max-width: 600px) {
    .theme-switch {
      top: 0.5rem;
      left: 0.5rem;
      font-size: 1.5rem;
    }
  }